{% extends 'store/layouts/main.html' %}

{% block content %}

{% include 'store/inc/slider.html' %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Trending Products</h3>
            <hr class="w-50 mx-auto">
            <div class="row">
                {% for item in trending_products %}
                <div class="col-md-4 col-lg-3 mb-4 d-flex">
                    <div class="card shadow-sm border-0 text-center h-100">
                        <a href="{% url 'store:productview' item.category.slug item.slug %}" class="text-decoration-none text-dark">
                            <div class="card-img-top overflow-hidden" style="height: 200px;">
                                <img src="{{ item.product_image.url }}" alt="product image" class="w-100 h-100 object-fit-cover">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ item.name }}</h5>
                                <p class="text-muted mb-2">₹{{ item.selling_price }}</p>
                                <button class="btn btn-sm btn-outline-primary">View Product</button>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}

